name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_PASSWORD: password
          POSTGRES_USER: vaultfactory
          POSTGRES_DB: vaultfactory
        ports:
          - 5432:5432

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v4
        with:
          go-version: "1.25.1"
      - run: go mod download
      - run: go install honnef.co/go/tools/cmd/staticcheck@latest
      - run: staticcheck ./...
      - run: go vet ./...
      - run: go test ./...
        env:
          DATABASE_DSN: postgres://vaultfactory:password@localhost:5432/vaultfactory?sslmode=disable

  build:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v4
        with:
          go-version: "1.25.1"
      - run: go build -o bin/server ./cmd/server
      - run: go build -o bin/client ./cmd/client
